.header {
  background-color: #e65ac5;
}

.header-title {
  text-align: center;
}

#main {
  background-color: #e8b4dc;
}

#about {
  background-color: #f2e3ef;
}

#projects {
  background-color: #e8b4dc;
}

.nav {
  display: none;
}

.main-nav {
  padding: .2em .2em .2em 2em;
}

ul.nav {
  display: block;
}

ul.nav li {
  display: none;
  border-bottom: none;
}

ul.nav li:hover a {
  color: #29506D;
}
